<div class="row">
    <h3>Portfolio</h3>
    <p> Morbi quis interdum felis. Nunc in ligula eget orci placerat vehicula. Nulla facilisi. Nulla eu quam
        sollicitudin leo pellentesque viverra. Mauris id magna arcu. In neque arcu, dignissim a libero sit amet, rutrum
        ultricies nunc. Donec cursus justo vel lectus venenatis ornare. </p>
</div>
<div class="row">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="assets/img/big-project-image.png">

                <div class="card-body">
                    <h4>Project name</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
