<!-- your html code here -->
<div class="container-fluid bg-light p-5 d-flex justify-content-between">
    <div class="col-md-6 how-img ">
        <img src="./assets/img/2.jpg" class="rounded-circle img-fluid"  width="300px" height="300px"/>
    </div>
    <div class="col-md-6">
        <span class="h3">The second heading </span> <span class="h3 text-secondary">is pretty cool too</span>
        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
    </div>
    
</div>
<hr>
